Flask==2.0.2
gunicorn==20.1.0
numpy>=1.15
Jinja2>=3.0
itsdangerous>=2.0
Werkzeug>=2.0
click>=7.1.2
MarkupSafe>=2.0
importlib-metadata; python_version < "3.8"
zipp>=0.5
typing-extensions>=3.6.4; python_version < "3.8"
pandas